{% extends '::base.html.twig' %}

{% block body %}

    <h3 class="heading-large">Login</h3>

    <div class="row">
        <div class="col-md-4 clearfix"></div>
        <div class="col-md-4">

            <form action="{{ path('user_login') }}" method="POST">
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" name="_username" value="{{ last_username }}" class="form-control" id="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="_password" class="form-control" id="password">
                </div>
                <button type="submit">Login</button>
            </form>

        </div>
        <div class="col-md-4 clearfix"></div>

{% endblock %}
