{% extends '::base.html.twig' %}

{% block body %}

    <h3 class="heading-large">Registration</h3>

    <div class="row">
        <div class="col-md-4 clearfix"></div>
        <div class="col-md-4">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

        </div>
        <div class="col-md-4 clearfix"></div>

{% endblock %}
