{{ form_start(form) }}
{% if app.user %}
    {{ form_widget(form.username, {'value': app.user.getName()}) }}
{% else %}
    {{ form_widget(form.username) }}
{% endif %}
    {{ form_widget(form.body) }}
    {{ form_widget(form.send) }}
{{ form_end(form) }}
