<div class="container">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="panel panel-white post panel-shadow">
            <div class="post-footer">

                {% include 'NewsBundle:News:comments/_form.html.twig' with {'form': form} %}

                <ul class="comments-list">
                    {% for comment in entity.comments %}
                        {% include 'NewsBundle:News:comments/_item.html.twig' with {'comment': comment} %}
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
