<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- bootstrap -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="top-head left">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <a href="{{ path('news_index') }}" class="logo">
                            <h1>Symfony News<small>Get the latest News</small></h1>
                        </a>
                    </div>
                    <div class="col-md-8 text-right" style="margin-top:20px; font-size:16px;">

                        {% if app.user %}
                            <a href="{{ path('user_news') }}">My news</a>
                            <span class="separator"> | </span>
                            <a href="{{ path('user_logout') }}">Logout</a>
                        {% else %}
                            <a href="{{ path('user_login') }}">Login</a>
                            <span>or</span>
                            <a href="{{ path('user_register') }}">Sign Up</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
