<tr>
    <td>{{ item.id }}</td>
    <td><img class="media-object" src="{{ item.previewImage|default(asset('/images/no-image.png')) }}" style="width:60px"></td>
    <td>{{ item.title }}</td>
    <td>{{ item.createdAt.format('Y.m.d H:i') }}</td>
    <td>{{ item.updatedAt.format('Y.m.d H:i') }}</td>
    <td>
        <a href="{{ path('user_news_edit', {'id': item.id}) }}" class="btn btn-primary btn-xs">Edit</a>
        <a href="{{ path('user_news_delete', {'id': item.id}) }}" class="btn btn-danger btn-xs">Delete</a>
    </td>
</li>
