{% extends '::base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('user_news') }}" class="btn btn-default">Cancel</a>

{% endblock %}
