{% extends '::base.html.twig' %}

{% block body %}

    <h1>My News
        <a href="{{ path('user_news_create') }}"  class="btn btn-primary btn-md" title="Add News">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"/> ADD NEWS
        </a>
    </h1>

    <div class="table">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Preview</th>
                    <th>Title</th>
                    <th>Created at</th>
                    <th>Updated at</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                {% for item in pagination %}
                    {% include 'UserBundle:UserNews:_item.html.twig' with {'item': item} %}
                {% endfor %}

            </tbody>
        </table>

        <div class="container" style="text-align:center">
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>

{% endblock %}
