<div class="well">
    <div class="media">
        <a class="pull-left" href="{{ path('news_show', {'id': item.id, 'slug': item.slug}) }}">
            <img class="media-object" src="{{ item.previewImage|default(asset('/images/no-image.png')) }}" style="width:200px">
        </a>
        <div class="media-body">
            <h4 class="media-heading">
                <a class="pull-left" href="{{ path('news_show', {'id': item.id, 'slug': item.slug}) }}">{{ item.title }}</a>
            </h4>
            <!--p class="text-right">By Francisco</p-->
            <p class="card-text">{% autoescape false %}{{ item.previewText }}{% endautoescape %}</p>

            <ul class="list-inline list-unstyled post-bar">
                <li><span><i class="glyphicon glyphicon-calendar"></i> {{ item.createdAt.format('Y.m.d H:i') }} </span></li>
                <li><span class="comments"> {{ item.comments.count() }} comments </span></li>
            </ul>
        </div>
    </div>
</div>
