{% extends '::base.html.twig' %}

{% block body %}

    <h3 class="heading-large">IT News</h3>

    {% for item in pagination %}
        {% include 'NewsBundle:News:_item.html.twig' with {'item': item} %}
    {% endfor %}

    <div class="container" style="text-align:center">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}
