{% extends '::base.html.twig' %}

{% block title %}IT News :: {{ entity.title }}{% endblock %}

{% block body %}
    <h1>{{ entity.title }}</h1>

    <div class="news-body">
        {% autoescape false %}{{ entity.body }}{% endautoescape %}
    </div>

    {% include 'NewsBundle:News:comments/_panel.html.twig' with {'entity': entity, 'form': commentForm} %}

{% endblock %}
